<!doctype html>
<html>
<header>
<title>Login Edu</title>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<link href="_scripts/stili.css" rel="stylesheet" type="text/css" />
<link href="_fonts/stylesheet.css" rel="stylesheet" type="text/css" />
</header>
<body ng-app="APP" ng-controller="loginEdu">
    
    	<div id="titolo">LOGIN</div>
    	<div id="campiLogin">
        	<form name="formLogin" novalidate>
                <p><input type="text"
                	name="username"
                    ng-required="true"
                    ng-model="utente.username"
                    ng-class="{	'': formLogin.username.$pristine,
		              			'': formLogin.username.$valid,
					 			'campoInvalidato': formLogin.username.$invalid && validabile}"
                    placeholder="nom &eacute;ducateur"
                    /></p>
                <p><input type="password"
               		name="password"
                	ng-required="true"
                    ng-model="utente.password"
                    ng-class="{	'': formLogin.password.$pristine,
		              			'': formLogin.password.$valid,
					  			'campoInvalidato': formLogin.password.$invalid && validabile}"
                    placeholder="mot de passe"
                    /></p>
                 <p ng-show="formLogin.password.$invalid && validabile" class="msgErrCampi">Tous les champs sont obligatoires</p>
            </form>
        </div>
    	<div id="nav">
        	<div id="frSx" ng-show="false"><svg><polyline points="26.875,33.75 13.125,20 26.875,6.25 "/></svg></div>
        	<div id="frDx" ng-show="true"  ng-disabled="formLogin.$invalid" ng-click="loginEdu();"><span>ACCES</span> <svg><polyline points="13.125,6.25 26.875,20 13.125,33.75 "/></svg></div>
        </div>
    
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script language="javascript">
        <!--
		
		angular.module("APP",[])
			.controller("loginEdu",function($scope){
				$scope.validabile=false;
				$scope.loginEdu=function(){	
					$scope.validabile=true;
					if(!$scope.formLogin.$invalid){
						// processa il login
						console.log("Login processato");
					}
				}
			});
		//-->
        </script>
</body>
</html>
